*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#0f172a;
color:white;
overflow-x:hidden;
}

.navbar{
background:#08101f;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
padding-top:80px;
}

.hero h1{
font-size:4rem;
font-weight:bold;
color:#38bdf8;
}

.hero h3{
color:#facc15;
}

.profile-img{
width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
border:5px solid #38bdf8;
box-shadow:0 0 30px #38bdf8;
}

.btn-custom{
background:#38bdf8;
color:white;
padding:12px 25px;
border:none;
border-radius:30px;
}

.btn-custom:hover{
background:#0284c7;
}

.section-padding{
padding:100px 0;
}

.section-title{
text-align:center;
font-size:2.5rem;
margin-bottom:50px;
color:#38bdf8;
}

.glass-card{
background:rgba(255,255,255,.1);
padding:30px;
border-radius:20px;
backdrop-filter:blur(10px);
}

.bg-dark-section{
background:#111827;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:20px;
transition:.4s;
height:100%;
text-align:center;
}

.project-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #38bdf8;
}

.project-icon{
font-size:3rem;
color:#38bdf8;
margin-bottom:15px;
}

.progress{
height:25px;
border-radius:30px;
}

.progress-bar{
background:#38bdf8;
font-weight:bold;
}

.skill1{width:90%;}
.skill2{width:85%;}
.skill3{width:80%;}
.skill4{width:85%;}
.skill5{width:90%;}
.skill6{width:88%;}

.timeline-item{
background:#1e293b;
padding:25px;
margin-bottom:20px;
border-left:5px solid #38bdf8;
border-radius:10px;
}

footer{
background:#08101f;
padding:20px;
text-align:center;
}

@media(max-width:768px){

.hero h1{
font-size:2.5rem;
}

.profile-img{
width:250px;
height:250px;
margin-top:30px;
}
}